<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>{{ search }}</h1>
    <h1>Meaning</h1>
    <h3>{{ meaning }}</h3>
    <h1>Synonym</h1>
    <h3>{{ synonym }}</h3>
    <h1>Antonym</h1>
    <h3>{{ antonym }}</h3>
    
    <h1>Search for another word</h1>
    <form action="{% url 'word' %}"">
        <input type="text" name="search" placeholder="Input Your Word Here">
        <input type="submit">
    </form>
</body>
</html>